<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head') %>
		<title>Home Page</title>
</head>

<body>

	<%- include('./partials/nav') %>
		<!-- <%= JSON.stringify(locals.user) %> -->
		<div class="container mt-3">
			<% blogs.forEach(blog=> { %>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src=<%=`/static/uploads/${blog.createdBy}/${blog.coverImageURL}` %>
					alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							<%= blog.title %>
						</h5>
						<p class="">Blog by <%= blog.createdByName %>
						</p>
						<a href=<%- `/blog/${blog._id}` %> class="btn btn-primary">View</a>
					</div>
				</div>
				<% }) %>
		</div>
		<%- include('./partials/script') %>
</body>

</html>